{% extends "main.html" %}

{% block contents %}
<script>
    function checkForm() {
        console.log($("#name").val());
        if ($.trim($("#name").val()) == "") {
            alert("이름을 입력하세요");
            $("#name").focus();
            return false;
        }

        console.log($("#email").val());
        if ($.trim($("#email").val()) == "") {
            alert("이메일을 입력하세요");
            $("#email").focus();
            return false;
        }

        if(!validateEmail($("#email").val())) {
            alert("이메일 유효성이 올바르지 않습니다.");
            $("#email").focus();
            return false;
        }
    
        if ($.trim($("#pass1").val()) == "") {
            alert("비번1을 입력하세요/클라");
            $("#pass1").focus();
            return false;
        }

        if ($.trim($("#pass2").val()) == "") {
            alert("비번2을 입력하세요/클라");
            $("#pass2").focus();
            return false;
        }

        if ( $.trim($("#pass1").val()) != $.trim($("#pass2").val()) ) {
            alert("비번이 일치하지 않습니다/클라");
            $("#pass2").select().focus();
            return false;
        }

        return true;
    }
</script>

<form name="join" action="{{url_for('member.member_join')}}" method="POST" onsubmit="return checkForm()">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    <div class="form-group">
        <label for="name">이름</label>
        <input class="form-control" type="text" name="name" id="name">
    </div>
    <div class="form-group">
        <label for="email">이메일</label>
        <input class="form-control" type="email" name="email" id="email">
        <!-- <td><input type="email" name="email" id="email"></td> -->
    </div>
    <div class="form-group">
        <label for="pass">비밀번호1</label>
        <!-- <input type="password" name="pass" id="pass1"> -->
        <input class="form-control" type="password" name="pass" id="pass1">
    </div>
    <div class="form-group">
        <label for="pass2">비밀번호2</label>
        <!-- <input type="password" name="pass2" id="pass2"> -->
        <input class="form-control" type="password" name="pass2" id="pass2">
    </div>
    <div class="text-center">
        <input class="btn btn-primary btn-sm" type="submit" value="Registration">
    </div>
</form>

{% endblock %}}